/* ! .addTask applies to the addTask title. Entire thing added. */
.addTask {
  display: flex;
  color: #2cd4b2;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 30px;
  font-size: 30px;
  text-shadow: 1px, 1px black;
} 

.taskList {
  display: flex;
  /* color: #2cd4b2; */
  color: #2cd4b2;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 40px ;
  font-size: 30px;
  text-shadow: 1px, 1px black;
} 

/* input field color: #fffcc8 */

/* container that holds the add task and task list, added all of this styling */

.taskIndex {
  padding-top: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86);
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  height: 90vh;
}

/* ! .App controls the words above the input fields. Added font-size* and height */
.App {
  /* display:flex; */
  padding-top: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  /* text-shadow: 1.5px 1.5px black; */
  font-size: 12px;
  font-weight: lighter;
  /* color: rgb(9, 74, 36); */
  color: whitesmoke;
  font-size:medium; 
  text-align:left;
  background: linear-gradient(to bottom, #23c884, #1aad90);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: small;
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
