/* Modal Styling */
.modal-content {
  background-color: rgba(0, 0, 0, 0.378) !important; 
  border: none !important; 
  color: white !important;
}

.modal-tables {
  margin-top: 50px !important;
  margin-left: 50px !important;
}

/* headers ^ */
.addTask {
  display: flex;
  color: #2cd4b2;
  -webkit-text-stroke-width: 1.5px; 
  -webkit-text-stroke-color:  rgb(18, 51, 67);
  padding-top: 7px;
  padding-bottom: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-weight: 600;
  font-style: oblique;
  font-size: 40px;
  text-shadow: 1px, 1px black;
} 

.addEntry {
  display: flex;
  color: #2cd4b2;
  -webkit-text-stroke-width: 1.5px; 
  -webkit-text-stroke-color:  rgb(18, 51, 67);
  padding-top: 7px;
  padding-bottom: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-weight: 600;
  font-style: oblique;
  font-size: 40px;
  text-shadow: 1px, 1px black;
}

/* Added scroll to task index table */
.Table-Responsive {
  overflow-x: auto;
  max-width: 100%;
}

/* Table Styling */
.IndexColumn>tr>th {
  background-color: rgba(0, 0, 0, 0.483);
  font-size: 15px;
  text-align: left;
  color: #76a89e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.IndexColumn>tr {
  text-decoration:wavy;
  text-align: center;
}

.ReceiptTableColumn>tr {
  text-decoration:wavy;
  text-align: center;
}

/* Styling for various App containers */
.Box-Container {
  padding-top: 10px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86); 
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  box-shadow: rgba(12, 34, 46, 0.264) 2px 3px 2px 3px;
  margin-bottom: 100px;
  height:min-content;
}

.TaskTable-Container {
  padding-top: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86); 
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  box-shadow: rgba(12, 34, 46, 0.264) 2px 3px 2px 3px;
  margin-bottom: 100px;
  overflow-x: auto;
}

.TaskTable-Container-Main {
  min-width: 750px;
  padding-top: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86); 
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  height: 100vh;
  box-shadow: rgba(12, 34, 46, 0.264) 2px 3px 2px 3px;
  margin-bottom: 100px;
  margin-left: 100px;
  overflow-x: auto;
}

.TaskTable {
  max-width: 100%;
}

.SubTask-Container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86); 
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  box-shadow: rgba(12, 34, 46, 0.264) 2px 3px 2px 3px;
  margin-bottom: 20px;
}

.SubTask-Container-Header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  max-width: 125px;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: rgb(23, 65, 86); 
  background: linear-gradient(to bottom, #24475bea, #2d5871e2);
  fill-opacity: 10;
  box-shadow: rgba(12, 34, 46, 0.264) 2px 3px 2px 3px;
  margin-bottom: .5px;
  display: flex;
  color: #2cd4b2;
  -webkit-text-stroke-width: .5px; 
  -webkit-text-stroke-color:  rgb(18, 51, 67);
}

.SubTask-Header {
  padding-bottom: 5px;
  padding-left: 1px;
  margin-bottom: .5px;
  display: flex;
  color: #2cd4b2;
  -webkit-text-stroke-width: .5px; 
  -webkit-text-stroke-color:  rgb(18, 51, 67);
}

.ReceiptCreate,
.ReceiptsTable {
  width: 100%; 
  height: 100%; 
}

/* Page to page app layout */
.App {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 18px;
  font-weight:200;
  font-style: oblique;
  color: #e1f8f4;
  font-size:medium; 
  text-align:left;
  background: linear-gradient(to bottom, #23c884, #1aad90);
  position: relative;
  min-height: 100vh;
}

.logoHeader {
  display: block;
  position: relative;
  top: 0;
  right: 0;
}

/* Button Styling */
.AddReceiptBTTB {
  background-color: #0c2a2ae2!important;
  font-size: small !important;
}

.BackToTable {
  background-color: #0c2a2ae2!important;
}

.modal-body {
 max-width: 100%;
}





/* React app's CSS */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #b9210d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

